.fontBold {
    font-weight: bold;
}

.characterCard {
    /* width: 8.75rem; */
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    border-radius: 0.313rem;
    overflow: hidden;
    font-family: Open Sans;
    height: 100%;

    .profileImage {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, #4534df 4.67%, #6B63B5 96.97%);

        &.Gryffindor {
            background: linear-gradient(90deg, #FF0000 4.67%, #FED482 96.97%);
        }

        &.Slytherin {
            background: linear-gradient(90deg, #1C792B 0%, #82E95E 100%);
        }

        &.Hufflepuff {
            background: linear-gradient(90deg, #FFC700 0%, #FFF388 100%);
        }

        &.Ravenclaw {
            background: linear-gradient(90deg, #0597B7 0%, #66D1FF 100%);
        }

        .image {
            object-fit: cover;
            object-position: top;
            width: 4rem;
            height: 4rem;
            margin: 0.5rem 0;
            border-radius: 50%;

        }
    }

    .cardInformation {
        background: white;
        display: flex;
        flex-direction: column-reverse;
        flex: 1 1 0;
        justify-content: space-between;

        &.false {
            background: #CCCCCC;
        }

        .statusInformation {
            display: flex;
            padding: .5rem;

            .statuses {
                flex: 1;

                .dead {
                    display: none;
                }

                h4 {
                    font-size: 0.688rem;
                    color: #999999;
                    margin: 0;
                    padding: 0.1rem 0;

                    &.separator {
                        display: none;
                    }
                }
            }

            .iconoRectangulo {
                img{
                   
                }
              
            }
        }

        .characterInformation {

            .charactersName {
                .name {
                    margin-block-start: 0;
                    margin-block-end: 0;
                    text-align: center;
                    font-family: Open Sans;
                    font-size: 1.125rem;
                    padding-top: 1.125rem;
                    padding-bottom: 1.125rem;
                }
            }

            .profile {
                display: none;
                font-size: 0.875rem;

                p {
                    color: #565353;
                    margin: 0.438rem 0;

                    span {
                        color: black;
                    }
                }
            }
        }


    }

    @media only screen and (min-width: 1024px) {
        flex-direction: row;
        // background-image: url(../../public/images/Castle.png);
        border-radius: 1rem;

        .profileImage {
            width: 40%;
            align-items: center;
            background: linear-gradient(135deg, #4534df 4.67%, #6B63B5 96.97%);

            &.Gryffindor {
                background: linear-gradient(135deg, #FF0000 4.67%, #FED482 96.97%);
            }

            &.Slytherin {
                background: linear-gradient(135deg, #1C792B 0%, #82E95E 100%);
            }

            &.Hufflepuff {
                background: linear-gradient(135deg, #FFC700 0%, #FFF388 100%);
            }

            &.Ravenclaw {
                background: linear-gradient(135deg, #0597B7 0%, #66D1FF 100%);
            }

            .image {
                width: 7rem;
                height: 7rem;
                // margin: 1rem 0;
            }
        }

        .cardInformation {
            flex: 1 1 0;
            flex-direction: column;

            .statusInformation {
                display: flex;
                justify-content: space-between;
                margin: 1rem;
                padding: 0;

                .statuses {
                    align-self: center;
                    display: flex;

                    h4 {
                        font-family: Open Sans;
                        font-size: 0.875;

                        &.separator {
                            display: flex;
                            padding-left: 0.3rem;
                            padding-right: 0.3rem;
                        }
                    }

                }

                .iconoRectangulo {
                    align-self: center;
                    height: 1.375rem;
                }
            }

            .characterInformation {
                margin: 0 1rem 1rem 1rem;

                .charactersName {
                    margin: 0;

                    .name {
                        text-align: left;
                        padding-top: 0;
                        font-size: 1.4rem;

                    }
                }

                .profile {
                    display: inherit;

                }
            }
        }


    }
}